body{
    background-color: bisque;
}
h1 {
    text-align: center;
    color: crimson;
}
h3 {
    text-align: center;
}
p { 
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 11cm;
    margin-right: 10cm;
}
